
.secao {
    display: grid;
    align-items: center;
}

.secao-horizontal { 
    grid-template-rows: 102px auto;
}

.secao-vertical {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 2fr;
}

.secao__cartoes {
    display: grid;
    /*largura minima da coluna*/
    --larg-min-column: 100%/2;

    /*Largura maxima da coluna*/
    --max-larg-max-column: 100%/var(--quant-max-column);
    --larg-max-column: max(var(--min-larg-max-column), var(--max-larg-max-column));
    --min: min(var(--larg-min-column), var(--larg-max-column));
    grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr)); 
}

.secao-horizontal .secao__cartoes {
    display: grid;
    --quant-max-column: 3;
    --min-larg-max-column: 348px;
    /*grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(348px, 100%/3)), 1fr));*/
}


.secao-vertical .secao__cartoes {
    grid-column: 1/3;
    display: grid;
    --quant-max-column: 6;
    --min-larg-max-column: 165px;
    /*grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(165px, 100%/6)), 1fr));*/
    
}